<div class="container">
  <br>
  <h1 class="text-success">Add a New Song: </h1>
    <div class="text-danger">
      <%= form_for @song do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :artist_id %>
      <%= f.number_field :artist_id %>
      <br>
      <%= f.label :genre_id %>
      <%= f.number_field :genre_id %>
      <br>
      <%=  f.submit class: "btn btn-info" %>
      <% end %>
    </div>
    <br>
    <div class="btn btn-warning"><%= link_to "Main Menu", songs_path %></div>
</div>
